.main-body {
    min-height: 100vh;
    background-color: #F8F8FF;
}

.main-nav {
    height: 10vh;
    background-color: blue;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
}

.discipline-wrapper {
    display: flex;
    margin: 1rem 0;
}

.discipline-container {
    width: 40vw;
    height: 30rem;
    background: red;
    margin: 0 0.5rem;
}

.main-footer {
    height: 60vh;
    background-color: blue;
}