@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: url(../assets/bg-home.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    padding: 1rem;
}



header h3 {
    font-family: 'Poppins', sans-serif;
}

section {
    height: 80vh;
    display: flex;
}

.left-container, .right-container {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.left-container:hover {
    background-color: black;
}

.right-container:hover {
    background-color: red;
}



