@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background: #F8F8FF;
    max-height: 100% !important;
}

header {
    height: 20vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    margin-top: 16px;
}

header h2 {
    font-size: medium;
    text-align: center;
    color: #04345C;
    font-family: 'Quicksand';
    font-weight: bold;
}

main {
    height: 80vh;
}

.wrapper {
     height: 100%;
}

.lf-box, .rt-box {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lf-box {
    background: url(../assets/bg-student.svg) no-repeat center center #04345C;
    background-size: cover;
}

.rt-box {
    background: url(../assets/bg-teacher.svg) no-repeat center center #1B343B;
    background-size: cover;
}

.wrap-content {
    color: #F8F8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap-content h1 {
    margin: 0;
    font-family: 'Quicksand';
    font-size: x-large;
    text-align: center;
    letter-spacing: 1px;
}

.p-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 1rem;
    width: 80%;
    
}

.p-container p {
    font-size: 14px;
    font-family: 'Quicksand';
    font-weight: 500;
    text-align: center;
}

.btn-wrapper {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper button {
    width: 8rem;
    padding: 0.5rem;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
    border: 1px solid #F8F8FF;
    border-radius: 2rem;
    color: #04345C;
    background-color: #F8F8FF;
    cursor: pointer;
}

@media screen and (min-width: 425px) {

    header {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    
    header img {
        width: 180px;
        height: 68px;
    }
    
    header h2 {
        font-size: larger;
    }
    
    .p-container {
        margin-top: 2rem;
    }

    .p-container p {
        font-size: 16px;
        
    }
        
    .btn-wrapper {
        margin-top: 2rem;
    }

    .btn-wrapper button {
        width: 10em;
        font-size: 16px;
        
    }
}

@media screen and (min-width: 768px) {

    header {
        padding-top: 1em;
        padding-bottom: 1rem;
    }
    
    header img {
        width: 200px;
        height: 76px;
    }
    
    header h2 {
        font-size: 20px;
    }

    .wrapper {
        
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .lf-box, .rt-box {
        width: 50%;
        height: 100%;
    }

    .wrap-content p {
        margin-top: 4rem;
        
        
    }

    .btn-wrapper {
        margin-top: 4rem;
    }

    
}

/* 
@media screen and (min-width: 769px) {

    .wrapper {
        
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .lf-box, .rt-box {
        width: 50%;
        height: 100%;
        background: none;
    }

    .lf-box:hover {
        background: url(../assets/bg-student.svg) no-repeat center center #04345C;
        background-size: cover;
    }

    .lf-box:hover .wrap-content,.rt-box:hover .wrap-content {
        color: #F8F8FF;
    }

    .lf-box:hover button, .rt-box:hover button {
        border: 1px solid #F8F8FF;
        color: #F8F8FF;
    }

    .rt-box:hover {
        background: url(../assets/bg-teacher.svg) no-repeat center center #1B343B;
        background-size: cover;
    }

    .wrap-content {
        color: #04345C;
    }

    .btn-wrapper button {
       color: #04345C;
       border: 1px solid #04345C;
       background: none;

       
} */