@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Quicksand:wght@300;400;500;600;700&display=swap');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-wrapper-aut {
    background: #597DA8;
    height: 100vh; 
    display: flex; 
}

.left-container-aut {
    background: rgb(89,125,168);
    background: linear-gradient(180deg, rgba(89,125,168,1) 0%, rgba(3,29,68,1) 35%);   
     width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.illustration-aut {
    background: url(../assets//bg-left-register.svg) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 80%;
    transform: translateY(0px);
    
    /* animation: float 5s ease-in-out infinite; */
}


.subtitle-aut {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle-aut h3 {
    color: #d5d5d5;
}

.subtitle-aut span{
   cursor: pointer;
   color: #f8f8ff;
}

.subtitle-aut span:hover {
    text-decoration: underline;
}

/* @keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
} */

.title-aut {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    
    
    
}

.title-aut h1 {
    font-size: 50px;
    color: #F8F8FF;
    text-align: center;
    
}


/* breakpoint 900px login redirection */

.subtitle-bp-900px-aut {
    height: 10%;
    color: #031D44;
    display: none;
}

.subtitle-bp-900px-aut span {
   cursor: pointer;
   text-decoration: underline;
}




.right-container-aut {
    background: #e5e5e5;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container-title-aut {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container-title-aut h1 {
    color: #031D44;
    letter-spacing: 0.5px;
}

.form-container-title-aut p {
    color: #031D44;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 500;
}

.wrapper-form-container-aut {
    width: 28rem;
    height: 33rem;
    background: #F8F8FF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 1rem;
}


.form-group-aut-lg {
    height: 85%;
}

.input-field-aut {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.input-box-aut-lg {
    position: relative;
    
    margin: 1rem 0;
}

.input-box-aut-lg .span-lg {
    right: 0;
    margin: 0.5rem auto;
    top: 40px;
    position: absolute;
    font-size: 0.8rem;
    color: red;
    
}

.input-aut {
    margin: 1rem 0;
    padding: 0.5rem 0;
    width: 16rem;
    border: none;
    border-bottom: 1px solid #031D44;
    background: none;
    outline: none;
    font-size: 0.8rem;
}

.btn-wrapper-aut {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-form-btn-aut {
    width: 16rem;
    padding: 0.8rem;
    border: 1px solid #031D44;
    border-radius: 0px;
    -webkit-border-radius:0px;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    outline: none;

}

.submit-form-btn-aut:hover {
    background: #04395E;
    color: #F8F8FF;
}

@media screen and (max-width: 900px) {
    .left-container-aut {
        display: none;
    }

    .right-container-aut {
        width: 100%;
        height: 100%;
    }

    .wrapper-form-container-aut {
       height: 100%;
    }

    .form-container-title-aut {
        height: 10%;
    }

    .form-group-aut {
        height: 80%;
    }

    .subtitle-bp-900px-aut {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submit-form-btn-aut {
        background: #031D44;
        color: #f8f8ff;
    }

    
}

@media screen and (max-width: 500px) {
    .wrapper-form-container-aut {
        width: 100%;
     }
}
